.card-inner-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.card {
  max-width: 355px;
  width: 355px;
  border-radius: 8px;
  background-color: #f9f3fd;
  position: relative;
}

.card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
  height: 302px;
  object-fit: cover;
}

.card .card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card .card-content .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.card .card-content .title {
  font-size: 16px;
  font-weight: 600;
  color: #635b69;
}

.card .card-content .title > span:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}

.card .card-content .title > span:last-child {
  font-size: 10px;
  font-weight: 600;
  color: #bf7cec;
  background-color: #e1c3f6;
  padding: 5px 8px;
  border-radius: 5px;
}

.card .card-content .price {
  font-size: 12px;
  font-weight: 600;
  color: #5b595f;
}

.card .card-content .description {
  font-size: 12px;
  font-weight: 400;
  color: #827789;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card .card-content .rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.card .card-content .add-to-cart {
  height: 40px;
  padding: 0 20px;
  border-radius: 8px;
  background-color: #9137ce;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  gap: 10px;
  transition: all 0.3s ease-in-out;
}

.bounce {
  animation: bounce 0.1s infinite alternate;
  animation-iteration-count: 4;
}

.card .wishlist {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  background-color: #fff;
  border-radius: 50%;
  width: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@keyframes bounce {
  to {
    transform: scale(1.2);
  }
}

.card .card-content .add-to-cart:hover {
  background-color: #fff;
  color: #9137ce;
}

@media screen and (max-width: 1000px) {
  .card .card-content .add-to-cart {
    height: 44px;
    padding: 0 10px;
    font-size: 12px;
    border-radius: 8px;
    gap: 5px;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .card-inner-container {
    width: 100%;
  }

  .card {
    width: 100%;
  }

  .card .card-content .title {
    font-size: 16px;
  }

  .card .card-content .title > span:last-child {
    font-size: 8px;
    padding: 5px;
  }

  .card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    height: 156px;
    object-fit: cover;
  }

  .card .card-content .price,
  .card .card-content .description {
    font-size: 12px;
  }

  .card .card-content .description {
    margin-bottom: 10px;
  }

  .card .card-content {
    padding: 10px;
  }

  .card .card-content .rating {
    gap: 2px;
  }
}
