.empty-cart {
  background-color: #f5ecfc;
  height: 90vh;
  margin-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.empty-cart h1 {
  color: #635b69;
  font-size: 36px;
}

.empty-cart div {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.empty-cart .button {
  padding: 16px 32px;
  border-radius: 8px;
  border: 1px solid #9137ce;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  color: #9137ce;
  cursor: pointer;
  gap: 10px;
  transition: all 0.3s ease-in-out;
}

.empty-cart .button:hover {
  border-color: #b263e8;
  color: #b263e8;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #bfbfc1;
  margin-top: 30px;
}

.cart-items {
  background-color: #f5ecfc;
  padding: 50px 100px;
  margin-top: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: flex-start;
}

.cart-header {
  position: relative;
}

.cart-line {
  width: 370px;
  height: 10px;
  border-radius: 8px;
  background-color: #d3a5f2;
}

.cart-number {
  font-size: 20px;
  font-weight: 600;
  color: #9137ce;
  width: 16px;
  height: 16px;
  font-size: 14px;
  border-radius: 50%;
  border: 1px solid #9137ce;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -10px;
  top: -10px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.buttons .button {
  padding: 16px 0;
  width: 229px;
  border-radius: 8px;
  border: 1px solid #9137ce;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  color: #9137ce;
  cursor: pointer;
  gap: 10px;
  transition: all 0.3s ease-in-out;
}

.buttons .button:hover {
  border-color: #b263e8;
  color: #b263e8;
}

.buttons .button:last-child {
  background-color: #9137ce;
  color: #fff;
  border: 1px solid #9137ce;
}

.buttons .button:last-child:hover {
  background-color: #b263e8;
  border-color: #b263e8;
}

@media screen and (max-width: 700px) {
  .empty-cart {
    height: 40vh;
    margin-top: 100px;
    gap: 20px;
  }

  .empty-cart h1 {
    font-size: 12px;
  }

  .empty-cart div {
    width: 30px;
    height: 30px;
  }

  .empty-cart .button {
    padding: 10px 20px;
    font-size: 8px;
  }

  .cart-items {
    padding: 20px;
    margin-top: 100px;
    gap: 20px;
  }

  .cart-line {
    width: 148px;
  }

  .buttons .button {
    padding: 13px 0;
    width: 140px;
    font-size: 12px;
  }

  .buttons .button:hover {
    transform: scale(1.05);
  }

  .buttons .button:last-child {
    background-color: #9137ce;
    color: #fff;
    border: 1px solid #9137ce;
  }
}
