.checkout-card {
  display: flex;
  gap: 20px;
  height: 104px;
  width: 100%;
}

.checkout-card img {
  height: 100%;
  width: 30%;
  object-fit: cover;
  border-radius: 8px;
}

.checkout-card > .checkout-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkout-card > .checkout-content > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.checkout-card > .checkout-content > div:first-child h2 {
  font-size: 20px;
  font-weight: 500;
  color: #5b595f;
  width: 80%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkout-card > .checkout-content > div:first-child > div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.checkout-card > .checkout-content > div:first-child > div > span:first-child,
.checkout-card > .checkout-content > div:first-child > div > span:last-child {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background-color: #f6edfc;
  font-size: 10px;
  color: #767479;
  cursor: pointer;
  transition: all 0.3s;
}

.checkout-card
  > .checkout-content
  > div:first-child
  > div
  > span:first-child:hover,
.checkout-card
  > .checkout-content
  > div:first-child
  > div
  > span:last-child:hover {
  transform: scale(0.95);
}

.checkout-card > .checkout-content > div:first-child > div > span:nth-child(2) {
  color: #151417;
  font-size: 12px;
}

.checkout-card > .checkout-content > p {
  color: #827789;
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  .checkout-card > .checkout-content > div:first-child h2 {
    font-size: 16px;
  }

  .checkout-card > .checkout-content {
    padding: 10px;
  }

  .checkout-card {
    background-color: #fdfbfe;
    border-radius: 8px;
  }

  .checkout-card > .checkout-content > p {
    font-size: 12px;
  }
}
