.checkout-container {
  margin-top: 12vh;
  width: 100%;
}

.checkout-container .checkout-header {
  background-color: #bf7cec;
  padding: 0 100px;
  height: 52px;
  font-size: 18px;
  color: #322f37;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.checkout-container .checkout-inner-container {
  padding: 50px 100px;
  display: flex;
  gap: 100px;
  justify-content: space-between;
}

.checkout-container .checkout-inner-container > div {
  width: 40%;
}

.checkout-container .checkout-inner-container .checkout-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.checkout-container .checkout-inner-container .checkout-card-container h1 {
  font-size: 24px;
  color: #322f37;
  font-weight: 600;
}

.checkout-container
  .checkout-inner-container
  .checkout-card-container
  .checkout-promo-code {
  display: flex;
  gap: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
}

.checkout-container
  .checkout-inner-container
  .checkout-card-container
  .checkout-promo-code
  input {
  border: 1px solid #9ea2aa;
  outline: none;
  background-color: #fff;
  border-radius: 5px;
  width: 70%;
  padding: 15px;
}

.checkout-container
  .checkout-inner-container
  .checkout-card-container
  .checkout-promo-code
  input::placeholder {
  color: #5b595f;
  font-size: 14px;
  font-weight: 400;
}

.checkout-container
  .checkout-inner-container
  .checkout-card-container
  .checkout-promo-code
  .button {
  padding: 15px 40px;
  border-radius: 5px;
  color: #9137ce;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 600;
  background-color: #e1c3f6;
  cursor: pointer;
  gap: 10px;
  width: 30%;
  transition: all 0.3s ease-in-out;
}

.checkout-container
  .checkout-inner-container
  .checkout-card-container
  .checkout-promo-code
  .button:hover {
  transform: scale(1.05);
}

.checkout-container .line {
  width: 100%;
  height: 1px;
  background-color: #5b595f;
  margin-top: 0;
}

.subtotal-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.subtotal-container > div,
.total-container {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  color: #322f37;
}

.checkout-form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.checkout-form-container > h1 {
  color: #322f37;
  font-size: 18px;
}

.checkout-form-container > .input-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.checkout-form-container > .input-div label {
  color: #322f37;
  font-size: 14px;
}

.checkout-form-container > .input-div input,
.checkout-form-container > .input-div select {
  width: 100%;
  padding: 12px;
  height: 56px;
  border-radius: 28px;
  border: 1px solid #767479;
  outline: none;
}

.checkout-form-container > .input-div input::placeholder {
  color: #5b595f;
}

.checkout-form-container .save-btn {
  margin-bottom: 30px;
}

.checkout-form-container .save-btn span {
  width: 100%;
  display: flex;
  padding: 16px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid #9137ce;
  outline: none;
  color: #9137ce;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}

.checkout-form-container .save-btn span:hover {
  background-color: #9137ce;
  color: #fff;
}

.checkout-form-container > .input-div .cvv {
  display: flex;
  gap: 20px;
  width: 100%;
}

.checkout-form-container > .input-div .cvv > * {
  width: 50%;
  position: relative;
}

.checkout-form-container > .input-div .card-num {
  position: relative;
}

.checkout-form-container > .input-div .card-num img {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(-50%, -50%);
}

.checkout-form-container > .input-div .card-num img:first-of-type {
  right: 40px;
}

.checkout-form-container > .input-div .cvv > div .icon {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(-50%, -50%);
}

.checkout-form-container .checkbox {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
}

.checkout-form-container .checkbox label {
  font-size: 14px;
  color: #5b595f;
}

.checkout-form-container .checkbox input {
  accent-color: #9137ce;
  transform: scale(1.2);
}

.checkout-form-container .pay-btn span {
  width: 100%;
  display: flex;
  padding: 16px;
  height: 56px;
  border-radius: 8px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  background-color: #9137ce;
}

.checkout-form-container .pay-btn span:hover {
  transform: scale(1.05);
}

div.big-line {
  width: 100%;
  height: 4px;
  background-color: #d7c5e3;
  margin-top: 50px;
}

/* media queries */

@media screen and (max-width: 1000px) {
  .checkout-container .checkout-header {
    padding: 0 50px;
  }

  .checkout-container .checkout-inner-container {
    padding: 50px;
    gap: 50px;
  }

  .checkout-container .checkout-inner-container > div {
    width: 45%;
  }
}

@media screen and (max-width: 600px) {
  .checkout-container .checkout-header {
    padding: 0 20px;
    font-size: 10px;
  }

  .checkout-container .checkout-inner-container {
    padding: 20px;
    flex-direction: column;
  }

  .checkout-container .checkout-inner-container > div {
    width: 100%;
  }

  .checkout-container .checkout-inner-container .checkout-card-container h1 {
    font-size: 20px;
  }

  .checkout-container
    .checkout-inner-container
    .checkout-card-container
    .checkout-promo-code
    input::placeholder {
    font-size: 10px;
  }

  .checkout-container
    .checkout-inner-container
    .checkout-card-container
    .checkout-promo-code
    .button {
    font-size: 10px;
  }

  .subtotal-container > div,
  .total-container {
    font-size: 14px;
  }

  .checkout-form-container .checkbox label {
    font-size: 12px;
  }

  .checkout-form-container .pay-btn span {
    font-size: 18px;
  }
}
