.products-container {
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.products-container > div.firstDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products-container > div.firstDiv p,
.products-container > div.secondDiv {
  font-size: 28px;
  text-transform: capitalize;
  color: #767479;
}

.products-container > div.firstDiv p span {
  text-transform: capitalize;
  margin-right: 10px;
}

.products-container > div.secondDiv {
  text-transform: capitalize;
  color: #242127;
}

.products-container > div.thirdDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.products-container > div.thirdDiv p {
  padding: 10px 20px;
  color: #767479;
  cursor: pointer;
  font-size: 16px;
  border-bottom: 2px solid #fff;
  transition: all 0.3s;
  text-transform: capitalize;
}

.products-container > div.thirdDiv p.active {
  border-bottom: 2px solid #9137ce;
  color: #242127;
  transition: all 0.3s;
}

.card-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 50px;
  justify-content: space-between;
}

.products-container .titleDiv {
  color: #635b69;
  font-size: 48px;
  font-weight: 500;
}

.desktop {
  display: flex !important;
}

.mobile {
  display: none !important;
}

.card-container.desktop {
  display: grid !important;
}

.card-container.mobile {
  display: none !important;
}

.pagination-container {
  column-gap: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-container .button i {
  pointer-events: none;
}

.pagination-container .button.disabled {
  color: #b3b3b3;
  pointer-events: none;
}

.pagination-container .button,
.pagination-container .link {
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #666666;
  background-color: #f2f2f2;
  border-radius: 6px;
  cursor: pointer;
}
.pagination-container .button:hover,
.pagination-container .link:hover {
  color: #fff;
  background: #9137ce;
}
.pagination-container .button.active,
.pagination-container .link.active {
  color: #fff;
  background: #9137ce;
}

.pagination-container .links {
  column-gap: 12px;
  display: flex;
}

.pagination-container .link {
  font-weight: 500;
  text-decoration: none;
}

/* media queries */

@media screen and (max-width: 2100px) {
  .card-container {
    grid-template-columns: auto auto auto auto;
  }
}

@media screen and (max-width: 1700px) {
  .card-container {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 1300px) {
  .card-container {
    grid-template-columns: 50% 50%;
    gap: 10px;
    row-gap: 20px;
  }

  .products-container {
    padding: 20px;
    gap: 20px;
  }

  .secondDiv {
    display: none !important;
  }

  .products-container > div.thirdDiv p {
    font-size: 14px !important;
  }

  .products-container > div.thirdDiv {
    gap: 0;
  }

  .products-container .titleDiv {
    color: #635b69;
    font-size: 24px;
    font-weight: 500;
  }

  .card-container.mobile {
    display: grid !important;
  }

  .card-container.desktop {
    display: none !important;
  }
}

@media screen and (max-width: 1000px) {
  .desktop {
    display: none !important;
  }

  .mobile {
    display: flex !important;
  }

  .products-container > div.firstDiv p {
    font-size: 24px;
  }

  .pagination-container .button,
  .pagination-container .link {
    height: 30px;
    width: 30px;
    font-size: 12px;
  }

  .pagination-container,
  .pagination-container .links {
    column-gap: 8px;
  }
}
